.statistics {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.statList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  display: flex;
  text-align: center;
}
.statList li {
  padding: 10px;
  min-width: 40px;
  width: 100%;
}
.item {
  font-weight: 700;
  background-color: #eee;
}
.item:nth-child(even) {
  background-color: #aaa;
}
.label {
  display: block;
  font-size: 0.75em;
  font-weight: 700;
}
.percentage {
  display: block;
  font-size: 1.5em;
}
