.transactionHistory {
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 550px;
  width: 100%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.transactionHistory th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #00bcd5;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}
.transactionHistory td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
}
.transactionHistory td:first-child {
  text-transform: capitalize;
}
.transactionHistory tbody tr:nth-child(odd) {
  background: #fff;
}
.transactionHistory tbody tr:nth-child(even) {
  background: #f3f6f9;
}
.deposit {
  color: #0400ff;
}
.withdrawal {
  color: #2ab942;
}
.payment {
  color: #d42d2d;
}
.invoice {
  color: #65e2e2;
}
